<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>DoMyChores</title>

    <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/flat-ui.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/main.css') }}">

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div class="header-container">
        <header class="wrapper clearfix">
        <h1 class="title">About</h1>
        <nav>
            <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        </header>
    </div>
    <div class="main-container">
        <div class="main wrapper clearfix">
            <h2>Our Story</h2>
            <div>
                Students in university frequently get bogged down with homework, exams and projects and forget about essential tasks like doing groceries or laundry. DoMyChores offers students a simple service where they can request their laundry to be done in exchange for a small fee. We are solving problems for two different groups of people - students who do not have time for their chores and students with some extra time who want to earn extra cash.
            </div>
        </div>
    </div>
    <script src="{{ static_url('js/lib/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/lib/json2.js') }}"></script>
    <script src="{{ static_url('js/lib/underscore-min.js') }}"></script>
    <script src="{{ static_url('js/lib/backbone-min.js') }}"></script>
</body>
</html>
